.home_warp header .top{

    padding: 5px 5px 12px 10px;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 5;
    transition: all 1s;
}
.home_warp .none{
    display: none;
}
.home_warp header .top a:first-child svg{
    display: block;
    float: left;
    margin-top: 2px;
}
.home_warp header .top a:first-child span{
    float: left;
}
.home_warp header .top a{
    padding: 2px 5px;
    border-radius: 11px;
    color:white;
}
.home_warp header .top a:first-child{
    position: absolute;
    background: #d9d9d9;
    align-items: center;
    width: 24%;
    z-index: -1;
}

.home_warp header .top a:last-child{
    display: flex;
    color:#d1d1d1;
    align-items: center;
    background: white;
    margin-left: 5px;
    transition: width 1s;
    float: right;
}

.home_warp header .top a:last-child svg{
    margin-right: 3px
}

.home_warp header div img{
    width: 100%;
}
.home_warp header .slick-track a{
    display: block;
    height: 45vw;
    overflow: hidden;
}
