.main_about{
    padding-bottom: 20.1vw
}
.main_about div div{
    border-bottom: 2px solid #dbdbdb;
    height: 15vw;
}
.main_about div div a{
    display: block;
    color: #000;
    line-height: 15vw;
    font-size: 14px;
    padding-left: 20px;
}
